* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base-2: #e3e3e3;
    --color-black:#000000;
    --color-gradient-uno: #384679;
    --color-gradient-two: #283153;
}
body {
    font-size: 1.6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background: var(--color-gradient-two);
    color: var(--color-base-2);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
header {
    text-align: center;
    padding: 3rem 0;
    background-image: linear-gradient(to right, #f093fb 0%, #f5576c 100%);
    color: var(--color-base);
}
header h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
header p {
    color: var(--color-base-2);
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.movie {
    width: 100%;
}
h2 {
    text-align: center;
    margin-bottom: 1rem;
}
ul {
    text-align: center;
    margin: 0 auto;
}
ul li {
    margin-bottom: .5rem;
    letter-spacing: .1rem;
}
.btn {
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--color-black);
    font-weight: 400;
}